@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

::selection{
    background-color: var(--azul_oscuro);
    color: var(--blanco);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 6px;
}

body::-webkit-scrollbar-track {
    background-color: var(--gris);
}

:Root {
    --primary: #6895D2;
    --second: #232D3F;
    --azul_oscuro: #0F1035;
    --gris: #cbcbcd;
    --verde: #43766C;
    --negro: #161412;
    --blanco: #F8FAE5;
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

* {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: var(--gris);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    transition: 0.7s;
    z-index: 10;

}

.info .contenido-h-i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: transparent;
    margin-left: 10px;
    background-image: none;
    flex: 1;
    color: var(--negro);
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 100px;
    height: 3em;
    line-height: 3;
    background: transparent;
    overflow: hidden;
    border-radius: .25em;
    margin-left: 30px;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.5em;
    background: transparent;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: var(--primary);
}

header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    transition: 0.7s;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header.abajo{
    background: var(--blanco);
    top: 0;
    padding: 10px;
    box-shadow: var(--shadow);

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 90px;

}
.logo .eslogan {
    margin-left: 10px;

}

.logo .eslogan h1 {
    color: var(--primary);
    font-size: 30px;
}

.logo .eslogan p {
    color: var(--azul_oscuro);
    font-size: 20px;
}

header nav{
    padding: 20px;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: var(--azul_oscuro);
    margin: 0 40px;
    font-size: 17px;
}

nav a:hover {
    border-bottom: 3px solid var(--primary);
    transition: .2s;
    font-weight: bold;
}

.active-nav {
    border-bottom: 3px solid var(--primary);
    transition: all .1s ease-in-out;
    font-weight: bold;
}

header button {
    background-color: var(--primary);
    color: var(--blanco);
    padding: 15px 30px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
}

header button:hover {
    background-color: var(--verde);
    transition: .3s;
    transform: translateY(-5px);
}

.texto-b h3 {
    padding: 20px;
}

.texto-b p {
    padding: 20px;
    font-size: 22px;
}

#slider {
    margin: 0 auto;
    position: relative;
    margin: 100px 80px;

}

.slide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    background: transparent;
    position: relative;
    z-index: 1;

}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slide4:checked~#slides .inner {
    margin-left: -300%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    height: 400px;
}

#slides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    color: var(--azul_oscuro);
}

#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
    opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float: right;
    margin: 0 -50px 0 0;
    display: block;
}

#slide1:checked~#controls label:nth-last-child(2),
#slide2:checked~#controls label:nth-last-child(3),
#slide3:checked~#controls label:nth-last-child(4),
#slide4:checked~#controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float: left;
    margin: 0 0 0 -50px;
    display: block;
}

#bullets {
    margin: 150px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
    background: var(--primary);
}
#slides .inner {
    animation: slideAnimation 60s infinite; /* Ajusta la duración según tus necesidades */
  }
  
  @keyframes slideAnimation {
    0% {
      margin-left: 0;
    }
    25% {
      margin-left: -100%;
    }
    50% {
      margin-left: -200%;
    }
    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: 0;
    }
  }

  
.etiquetas {
    margin-top: 40px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.etiquetas .detalle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--azul_oscuro);
    font-weight: bold;
}

.detalle img {
    width: 100px;
    border: 5px solid var(--primary);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.contenido {
    margin-top: 0px;
    padding: 40px;
    text-align: center;
}

.contenido h2 {
    color: var(--primary);
    font-weight: bold;
}

.contenido p {
    font-size: 19px;
    font-weight: 400;
}

.container {
    max-width: 950px;
    width: 100%;
    margin-top: 40px;
    overflow: hidden;
}

.container .main-card {
    display: flex;
    justify-content: space-evenly;
    width: 400%;
    transition: 1s;
}

#two:checked~.main-card {
    margin-left: -100%;
}

#three:checked~.main-card {
    margin-left: -200%;
}
#four:checked~.main-card {
    margin-left: -300%;
}



.container .main-card .cards {
    width: calc(100% / 1 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
}

.main-card .cards .card {
    width: calc(100% / 3 - 10px);
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
    cursor: pointer;

}
.card .boton-hover{
    background-color: #0f103536;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0;
}
.card .boton-hover:hover{
    opacity: 1;
    transition: .3s;

}
.card button {   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    color: var(--blanco);
    padding: 15px 30px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    opacity: 0;


}
.card:hover button{
    background-color: var(--verde);
    transition: .3s;
    font-size: 18px;
    opacity: 1;
}

.main-card .cards .card:hover {
    transform: translateY(-15px);
}

.cards .card .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards .card .content .img {
    height: auto;
    width: 100%;
    padding: 3px;
    margin-bottom: 8px;
}

.card .content .img img {
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    object-fit: cover;
    border-radius: 15px;
}


.card .content .name {
    font-size: 25px;
    font-weight: 500;
    color: var(--primary);
}

.card .content .job {
    font-size: 16px;
    color: var(--azul_oscuro);
}
.container .button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button label {
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: var(--gris);
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button label.active {
    width: 35px;
    background-color: var(--primary);
}

#one:checked~.button .one {
    width: 35px;
    background-color: var(--primary);
}

#one:checked~.button .two {
    width: 15px;
}

#one:checked~.button .three {
    width: 15px;
}
#one:checked~.button .four {
    width: 15px;
}

#two:checked~.button .one {
    width: 15px;
}

#two:checked~.button .two {
    width: 35px;
    background-color: var(--primary);

}

#two:checked~.button .three {
    width: 15px;
}
#two:checked~.button .four {
    width: 15px;
}

#three:checked~.button .one {
    width: 15px;
}

#three:checked~.button .two {
    width: 15px;
}

#three:checked~.button .three {
    width: 35px;
    background-color: var(--primary);
}
#three:checked~.button .four {
    width: 15px;
}


#four:checked~.button .one {
    width: 15px;
}

#four:checked~.button .two {
    width: 15px;
}

#four:checked~.button .three {
    width: 15px;
}
#four:checked~.button .four {
    width: 35px;
    background-color: var(--primary);
}

input[type="radio"] {
    display: none;
}
.experiencias{
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    flex-wrap: wrap;
}

.experiencias .box{
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    margin: 10px;
}

.box img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 15px;
}
.box h4{
    font-size: 18px;
    color: var(--verde);
    font-weight: bold;
}

.box p{
    font-size: 15px;
}

.contenido .ubicacion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.ubicacion .contenido-u p{
    text-align: left;
    font-size: 25px;
    
}
.contenido-u a{
    text-decoration: none;
    color: var(--azul_oscuro);
}
.contenido-u a:hover{
    color: var(--verde);
}
.contenido-u i{
    color: var(--verde);
    margin-right: 5px;
}

footer{
    background-color: var(--primary);
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.informacion-f{
    max-width: 50%;
    padding: 10px;
    margin: 0 40px 0 0;

}
.informacion-f-2 button {
    background-color: var(--azul_oscuro);
    color: var(--blanco);
    padding: 15px 30px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
}

.informacion-f-2 button:hover {
    background-color: var(--verde);
    transition: .3s;
    transform: translateY(-5px);
}

.logo-f{
    display: flex;
    align-items: center;
}

.logo-f img{
    width: 90px;
}
.eslogan-f{
    text-align: right;
    margin-left: 10px;
}
.eslogan-f h3{
    text-align: left;
    color: var(--blanco);
}
.eslogan-f p{
    color: var(--azul_oscuro);
    font-weight: bold;
    font-size: 22px;
}

.informacion-f-2{
    margin-top: 15px;
    color: var(--blanco);
}

.extra{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
.informacion-f-3{
    color: var(--blanco);
    margin: 0 60px;
}
.informacion-f-3 .nav-f{
    display: flex;
    flex-direction: column;
}
.nav-f a{
    text-decoration: none;
    color: var(--blanco); 
    margin: 15px 0;
}
.nav-f a:hover{
    color: var(--azul_oscuro); 
}

.redes-pagos{
    color: var(--blanco);
    text-align: center;
}
.redes{
    margin:40px 0;
    text-align: center;
}
.redes a{
    color: var(--blanco);
}
.redes i{
    font-size: 35px;
    margin: 0 10px;
}
.redes i:hover{
    color: var(--verde);
}
.pagos-p{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}
.pagos-p img{
    width: 60px;
    margin: 3px;
    border-radius: 5px;
}
.derechos{
    background-color: var(--azul_oscuro);
    color: var(--blanco);
    text-align: center;
    padding: 2px;
    font-size: 13px;
}


@media screen and (max-width: 900px) {

    #slide1:checked~#controls label:nth-child(2),
    #slide2:checked~#controls label:nth-child(3),
    #slide3:checked~#controls label:nth-child(4),
    #slide4:checked~#controls label:nth-child(1),
    #slide1:checked~#controls label:nth-last-child(2),
    #slide2:checked~#controls label:nth-last-child(3),
    #slide3:checked~#controls label:nth-last-child(4),
    #slide4:checked~#controls label:nth-last-child(1) {
        margin: 0;
    }

    #slides {
        max-width: calc(100% - 140px);
        margin: 0 auto;
    }
}


@media (max-width: 768px) {
    .main-card .cards .card {
        margin: 20px 0 10px 0;
        width: calc(100% / 2 - 10px);
    }
}

@media (max-width: 600px) {
    header{
        background-color: red;
        display: block;
    }









    .main-card .cards .card {
        /* margin: 20px 0 10px 0; */
        width: 100%;
    }
}